@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Unbounded:wght@300;400;500;600&display=swap');

/* Start General styling */

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #CDD2D5;
}

h1,
h2,
h3 {
    color: #000;
    font-family: "Unbounded", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
}

/* End General styling */

/* Start of Navigation bar and logo */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #364954;
    opacity: 0.9;
    line-height: 100px;
    z-index: 1;
}

header>div {
    width: 90%;
    margin: 0 5%;
}

ol>li {
    display: inline;
    list-style-type: none;
    margin-left: 10px;
}

header>div>div {
    display: inline-block;
}

.logo {
    font-size: 220%;
}

.menu {
    font-size: 120%;
}

.logo,
.menu {
    letter-spacing: 4px;
    color: #f2f2f2;
}

.active {
    border-bottom: 2px solid #f2f2f2;
}

.dropdown-button {
    display: none;
}

.menu a:hover {
    border-bottom: 2px solid #f2f2f2;
}

.flexdiv {
    display: flex;
    justify-content: space-between;
}

.flexdiv a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

/* End of navigation bar and logo */

/* Start of Hero Image */

.hero-restriction {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.hero-image-general {
    height: 500px;
    width: 100%;
    animation-name: hero-image-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

.hero-image-index {
    background: url('../images/hero-image.webp') no-repeat center center;
    background-size: cover;
}

.hero-image-programming {
    background: url('../images/hero-image-programming.webp') no-repeat center center;
    background-size: cover;
}

.hero-image-gallery {
    background: url('../images/hero-image-gallery.webp') no-repeat center center;
    background-size: cover;
}

.hero-image-signup {
    background: url('../images/hero-image-signup.webp') no-repeat center center;
    background-size: cover;
}

@keyframes hero-image-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.0);
    }
}

@keyframes hero-image-programming-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.0);
    }
}

@keyframes hero-image-gallery-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.0);
    }
}

@keyframes hero-image-signup-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.0);
    }
}

/* End of Hero Image */

/* Start of About section */

.section-center-align {
    height: auto;
    width: 90%;
    text-align: center;
    margin: 60px 5%;
}

.about-core {
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px 0;
}

.remove-above-950 {
    display: none;
}

.section-center-align p,
.section-center-align h2 {
    padding: 10px 2.5%;
}

.about-core div {
    width: 50%;
}

.about-core img {
    max-height: 400px;
    max-width: 100%;
    border-radius: 25px;
}

/* End of About section */

/* Start of upcoming meetups & coding languages section */

.coding-list {
    list-style-position: inside;
    text-align: left;
}

.coding-list h3 {
    text-align: center;
}

.coding-list i {
    font-size: 1.5rem;
}

.coding-list a {
    text-decoration: none;
    background-color: #CDD2D5;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
}

.coding-list a:hover {
    background-color: #E6CDB7;
}

.div-block-inline h3,
input {
    padding: 10px 2.5%;
    margin: 5px 2.5%;
    color: #f2f2f2;
}

.div-block-inline>div {
    display: inline-block;
    background-color: #364954;
    color: #f2f2f2;
}

.border-box>div {
    box-sizing: border-box;
    width: 45%;
    min-height: 300px;
    border: 2px solid #000;
    margin: 10px;
    padding: 1% 1% 2%;
    border-radius: 25px;
}

.big-box>div {
    box-sizing: border-box;
    width: 100%;
    min-height: 300px;
    border: 2px solid #000;
    margin: 10px;
    padding: 1% 1% 2%;
    border-radius: 25px;
}

/* Form within upcoming meetups section */

.input-meetup-section input {
    background: #CDD2D5;
    width: 60%;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    font-size: 100%;
    color: #000;
}

.submit-button:hover,
.input-meetup-section input:hover,
.input-signup-section input:hover {
    background-color: #E6CDB7;
    color: #000;
}

/* End of upcoming meetups & coding languages */

/* Start of Gallery */

.gallery-images {
    column-gap: 0;
    line-height: 0;
    column-count: 3;
    background-color: #364954;
}

.gallery-images>img {
    width: 100%;
}

/* End of Gallery */

/* Start of Sign Up page */

.signup-form-box .submit-button-signup {
    width: 95.5%;
}

.form-block form {
    text-align: left;
    padding: 20px;
}

.input-signup-section input {
    background: #CDD2D5;
    width: 90%;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    font-size: 100%;
    color: #000;
}

.signup-form-box>div {
    box-sizing: border-box;
    border: 2px solid #000;
    margin: 10px;
    padding: 1% 1% 2%;
    border-radius: 25px;
    display: inline-block;
    width: 600px;
    min-height: 300px;
    background-color: #364954;
    color: #f2f2f2;
}

/* End of Sign Up page */

/* Start of footer */

footer {
    background-color: #364954;
}

footer a {
    text-decoration: none;
    color: #f2f2f2;
}

footer a:hover,
small:hover {
    color: #E6CDB7;
}

.social-media {
    text-align: center;
    letter-spacing: 2px;
    padding: 25px 0 10px;
}

.social-media li {
    display: inline;
    padding: 5% 2.5% 0;
}

.social-media i {
    font-size: 200%;
}

.copyright {
    font-size: 0.5rem;
    color: #f2f2f2;
    padding: 0;
    margin: 0;
    line-height: 50px;
}

/* End of Footer */

/* Start of Thank You page */

.thank-you-background {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thank-you-box {
    border-radius: 25px;
    text-align: center;
    padding: 50px;
    margin: 0 2.5%;
    width: 400px;
    background-color: #364954;
    color: #f2f2f2;
}

.thank-you-box h2 {
    color: #f2f2f2;
    padding-bottom: 10px;
}

/* End of Thank You page */

/* Media queries */

@media screen and (min-width: 1921px) {

    html {
        background-color: #99AEBB;
    }

    body {
        box-sizing: border-box;
        max-width: 1920px;
        margin: 0 auto;
        border: 2px solid #364954;
    }

    header {
        max-width: 1920px;
    }
}

/* For screens up to 1200px wide */
@media screen and (max-width: 1200px) {
    .section-center-align {
        margin: 0 auto;
    }

    .under-1200px {
        margin: 0 auto 100px auto;
    }
}

/* For screens up to 1000px wide */

@media screen and (max-width: 1000px) {

    .dropdown-button {
        display: block;
        font-size: 200%;
    }

    .dropdown-items {
        display: none;
        position: absolute;
        background-color: #364954;
        color: #f2f2f2;
        z-index: 1;
        font-size: 80%;
    }

    .dropdown-button:hover {
        color: #E6CDB7;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown:hover .dropdown-items {
        display: block;
        padding: 0 10px;
        right: 0;
        line-height: 50px;
    }
}

/* For screens up to 950px wide */
@media screen and (max-width: 950px) {

    .remove-under-950 {
        display: none;
    }

    .remove-above-950 {
        display: flex;
        justify-content: center;
    }

    .about-core img {
        max-height: 550px;
        margin: 0 auto;
    }

    .gallery-images {
        column-count: 2;
    }

}

/* For screens up to 650px wide */

@media screen and (max-width: 650px) {

    .logo {
        font-size: 180%;
    }

    .about-core {
        display: block;
    }

    .about-core div {
        width: 100%;
    }

    .remove-under-650px {
        display: none;
    }

    .about-core img {
        width: 80%;
        max-height: fit-content;
    }

    .div-block-inline>div {
        display: block;
        width: 100%;
        margin: 0 0 10px;
    }

    .signup-form-box>div {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {

    .about-core img {
        width: 100%;
    }

    .gallery-images {
        column-count: 1;
    }
}

/* For screens up to 400px wide */

@media screen and (max-width: 400px) {

    h2 {
        font-size: 1.3em;
    }

    .logo {
        font-size: 120%;
    }

    .social-media i {
        font-size: 100%;
    }

    .copyright {
        font-size: 0.4rem;
    }

    .thank-you-box {
        font-size: 90%;
    }
}