@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Unbounded:wght@300;400;500;600&display=swap');

/* Start General styling */

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    background-color: #CDD2D5;
}

h1, h2, h3 {
    color: #000;
    font-family: Unbounded, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

/* End General styling */

/* Start of Navigation bar and logo */

header h1 {
    color: #fff;
}

header div {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    background-color: #364954;
    z-index: 1;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.active {
    border-bottom: 2px solid #fff;
}

.logo {
    font-size: 220%;
    float: left;
    padding-left: 5%;
    letter-spacing: 2px;
    list-style-type: none;
}

.menu {
    font-size: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.logo, .menu {
    line-height: 100px;
}

.menu li {
    float: left;
    margin-right: 40px;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 2px solid #fff;
    color: #E6CDB7;
}

/* End of navigation bar and logo */

/* Start of Hero Image */

.hero-restriction {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    animation-name: hero-image-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    z-index: 0;
}

@keyframes hero-image-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1.0);
    }
}

/* End of Hero Image */

/* Start of About section */

.section-center-align {
    height: auto;
    text-align: center;
    padding: 5px;
    margin: 60px 5%;
}

.about-core {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin: 30px 0;
}

.rounded-corner-image {
    border-radius: 25px;
}

.section-center-align p, h2 {
    padding: 10px;
}

.about-core div {
    width: 50%;
}

.about-core img {
    max-height: 400px;
    width: auto;
    overflow: hidden;
}

.about-text {
    text-align: left;
    margin-left: 20px;
    width: 50%;
}

/* End of About section */

/* Start of upcoming meetups */

.float-right {
    text-align: right;
}
/*
.div-block-inline > div {
    display: inline-block;
    width: 45%;
    max-height: fit-content;
    background-color: pink;
} */

#border-box > div {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    border: 2px solid #000;
    margin: 10px;
    border-radius: 25px;
}

/* End of upcoming meetups */

/* Start of footer */

footer {
    line-height: 80px;
    background-color: #364954;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover, small:hover {
    color: #E6CDB7;
}

.social-media {
    text-align: center;
    letter-spacing: 2px;
}

.social-media li {
    display: inline;
    padding: 5% 2.5% 0;
}

.social-media i {
    font-size: 200%;
}

#copyright {
    font-size: 0.5rem;
    color: #fff;
    padding: 0;
    margin: 0;
}

/* End of Footer */


