@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Unbounded:wght@300;400;500;600&display=swap');

/* Start General styling */

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    background-color: #CDD2D5;
}

h1, h2, h3 {
    color: #000;
    font-family: Unbounded, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

/* End General styling */

/* Start of Navigation bar and logo */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #364954;
    opacity: 0.9;
    line-height: 100px;
    z-index: 1;
}

header > div {
    width: 90%;
    margin: 0 5%;
}

ol > li {
    display: inline;
    list-style-type: none;
    margin-left: 10px;
}

header > div > div {
    display: inline-block;
}

.logo {
    font-size: 220%;
}

.menu {
    font-size: 120%;
}

.logo, .menu {
    letter-spacing: 4px;
    color: #f2f2f2;
}

.active {
    border-bottom: 2px solid #f2f2f2;
}

.dropdown-button {
    display: none;
}

.menu a:hover {
    border-bottom: 2px solid #f2f2f2;
    color: #E6CDB7;
}

#flexdiv {
    display: flex;
    justify-content: space-between;
}

#flexdiv a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

/* End of navigation bar and logo */

/* Start of Hero Image */

.hero-restriction {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    animation-name: hero-image-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    z-index: 0;
}

@keyframes hero-image-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1.0);
    }
}

/* End of Hero Image */

/* Start of About section */

.section-center-align {
    height: auto;
    text-align: center;
    padding: 5px;
    margin: 60px 5%;
}

.about-core {
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px 0;
}

.remove-above-950 {
    display: none;
}

.section-center-align p, h2 {
    padding: 10px 2.5%;
}

.about-core div {
    width: 50%;
}

.about-core img {
    max-height: 400px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 25px;
}

/* End of About section */

/* Start of upcoming meetups */


.div-block-inline > div {
    display: inline-block;
    width: 40%;
    max-height: fit-content;
    background-color: #364954;
    color: #f2f2f2;
} 

.div-block-inline h3, input {
    padding: 10px 2.5%;
    margin: 5px 2.5%;
}

#border-box h3 {
    color: #f2f2f2;
    padding: 5px;
}

#border-box > div {
    box-sizing: border-box;
    width: 40%;
    min-height: 300px;
    border: 2px solid #000;
    margin: 10px;
    border-radius: 25px;
}

/* Form within upcoming meetups section */

.input-meetup-section input {
    background: #CDD2D5;
    width: 60%;
    border: 1px solid #f2f2f2;
}

#slackusername {
    height: 25px;
}

#submit-button {
    border-radius: 15px;
    width: fit-content;
    font-size: 100%;
    background-color: #CDD2D5;
    color: #000;
    float: right;
}

#submit-button:hover, .input-meetup-section input:hover {
    background-color: #E6CDB7;
    color: #000;
}

/* End of upcoming meetups */

/* Start of footer */

footer {
    line-height: 80px;
    background-color: #364954;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover, small:hover {
    color: #E6CDB7;
}

.social-media {
    text-align: center;
    letter-spacing: 2px;
}

.social-media li {
    display: inline;
    padding: 5% 2.5% 0;
}

.social-media i {
    font-size: 200%;
}

#copyright {
    font-size: 0.5rem;
    color: #fff;
    padding: 0;
    margin: 0;
}

/* End of Footer */

/* Media queries */

/* For screens up to 1200px wide */
@media screen and (max-width: 1200px) {
    .section-center-align {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .about-core img {
        max-width: 100%;
    }
}

/* For screens up to 1000px wide */

@media screen and (max-width: 1000px) {
    .dropdown-button {
        display: block;
        font-size: 200%;
        background-color: pink;
    }

    .dropdown-items {
        display: none;
        position: absolute;
        background-color: #364954;
        color: #f2f2f2;
        z-index: 1;
        font-size: 80%;
    }

    .dropdown-button:hover {
        color: #E6CDB7;
    }

    #dropdown {
        padding-left: 45%;
        position: relative;
        display: inline-block;
    }

    #dropdown:hover .dropdown-items {
        display: block;
        padding-left: 10px;
    }
}

/* For screens up to 950px wide */
@media screen and (max-width: 950px) {

    .remove-under-950 {
        display: none;
    }

    .remove-above-950 {
        display: block;
    }

    .dropdown-button {
        display: block;
        font-size: 200%;
    }

    .dropdown-items {
        display: none;
        position: absolute;
        background-color: #364954;
        color: #f2f2f2;
        z-index: 1;
        font-size: 80%;
    }

    .dropdown-button:hover {
        color: #E6CDB7;
    }

    #border-box > div {
        width: 45%;
    }

    #under-950 {
        margin: 0 auto 100px auto;
    }

    #dropdown {
        padding-left: 45%;
        position: relative;
        display: inline-block;
    }

    #dropdown:hover .dropdown-items {
        display: block;
        padding-left: 10px;
    }

}
